@import "@/sizes";

.columnHeading {
  font-weight: 700;
}

.richText {

  h2, h3, h4, h5, h6 {
    font-size: 1.75rem;
    margin: 1.75rem auto .75rem;
  }

  a {
    color: var(--primary-accent);
    text-decoration: underline;
    text-underline-offset: .33rem;

    &:hover {
      text-decoration: none;
    }
  }
}

// Card Column Styling //
.cardColumn {
  position: relative;
}

.imageContainer {
  //background-color: var(--grey);
  //border-radius: 1rem;
  overflow: hidden;
  padding-top: 134%;
  position: relative;
  width: 100%;

  @media (max-width: $md) {
    padding-top: 150%;
  }

  img {
    //filter: blur(75px);
  }
}

.imageContainer.imageOverlay:after {
  background-color: rgba(0, 5, 16, 0.4);
  content: ''; // enable to add a slightly dark overlay to the image
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cardColumnInner {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.5rem;
}

.cardColumn .columnHeading {
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1rem;
  width: fit-content;
  //position: absolute;
  //top: 2.5rem;
  //left: 2.5rem;
  //width: calc(100% - 5rem);
}

.cardColumn .columnContent {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 2.5rem);
  //padding: 2.5rem;
  //position: absolute;
  //bottom: 0;
  //left: 0;

  h1, h2, h3, h4, h5, h6 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .richText {
    margin-bottom: 2.5rem;
  }

  .button {
    width: fit-content;
  }

  @media (max-width: $md) {
    height: 90%;
  }
}

// Image Column //
.imageColumn {
  position: relative;
}

.imageColumn .columnHeading {
  //color: var(--black);
  font-size: 1.75rem;
  font-weight: 500;
}

.imageColumn .imageContainer {
  padding-top: 62%;
}

.contentContainer {
  padding: 1.5rem 0;
}

.halfColumn .contentContainer {
  display: flex;
  justify-content: space-between;

  .columnContent {
    width: 50%;
  }

  @media (max-width: $md) {
    display: block;

    .columnContent {
      width: 100%;
    }
  }
}

.columnLink {
  display: inline-block;
  position: absolute;
  top: 62%;
  left: 50%;
}

// SIZES OF THE COLUMNS //
.fullColumn {
  display: flex;
  justify-content: space-between;
  grid-column: span 12; /* Spans all 12 columns */

  .columnHeading {
    font-size: 3rem;
    font-weight: 400;
    width: 50%;
  }

  .columnContent {
    padding-left: 3rem;
    width: 35%;
  }

  @media (max-width: $md) {
    display: block;

    .columnHeading {
      font-size: 2rem;
      width: 100%;
    }

    .columnContent {
      padding-left: 0;
      padding-top: 2rem;
      width: 100%;
    }
  }
}

.fullColumn.changeLayout {
  display: block;
  margin: 0 auto;
  //max-width: $lg;

  .columnHeading {
    width: 100%;
  }

  .columnContent {
    padding-left: 0;
    width: 100%;
  }
}

.oneSixth {
  grid-column: span 2; /* Spans 2 columns */

  @media (max-width: $md) {
    display: inline-block;
  }
}

.oneQuarter {
  grid-column: span 3; /* Spans 3 columns */
}

.halfColumn {
  grid-column: span 6; /* Spans 6 columns */
}

.oneThirdColumn {
  grid-column: span 4; /* Spans 4 columns */
}

.twoThirdsColumn {
  grid-column: span 8; /* Spans 8 columns */
}

@media (max-width: $md) {
  .oneQuarter,
  .halfColumn,
  .oneThirdColumn,
  .twoThirdsColumn {
    grid-column: span 12;
  }

  .oneSixth {
    grid-column: span 6;
  }
}