@import "@/sizes";

.highImpactHero,
.mediumImpactHero,
.lowImpactHero {
  height: 100vh;
  min-height: 800px;
  position: relative;
}

.lowImpactHero {
  min-height: 520px;
  height: 50vh;
}

.mediumImpactHero {
  min-height: 600px;
  height: 50vh;
}

.content {
  height: 100%;
  margin: 0 auto;
  max-width: var(--maxWidth);
  position: relative;
  z-index: 2;
}

.contentInner {
  bottom: 5vw;
  left: 5vw;
  color: var(--white);
  position: absolute;
  width: 40vw;
}

.richText {
  h1 {
    color: var(--white);
    font-weight: 800;
    font-size: clamp(2.5rem, 6vw, 90px);
    line-height: 1;
  }

  p {
    color: var(--white);
    font-size: clamp(1.25rem, 2vw, 45px);
    margin: 2rem auto;
  }
}

.mediaContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.media {
  height: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
}

@media (max-width: $md) {

  .highImpactHero,
  .mediumImpactHero,
  .lowImpactHero {
    max-height: 80vh;
    min-height: auto;
  }

  .contentInner {
    left: 0;
    padding: 5vw;
    width: 100%;
  }
}