.blocksContainer {
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: 4vw 5vw 0;
  position: relative;
}

.mediaBlock {
  height: 50vw;
  margin: 5vw auto;
  max-width: none;
  overflow: hidden;
  width: 100%;
}

.withoutHero {
  padding-top: 10rem;
}

.breacrumbs {
  color: var(--primary-accent);

  a:hover {
    text-decoration: underline;
    text-underline-offset: .33rem;
  }
}