@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    color: var(--primary-accent);
    font-size: 2.5rem;
    line-height: 1.2;
  }

  :root {
    --primary-accent: rgb(51, 149, 255);
    --primary-accent-hover: rgb(69, 162, 255);
    --black: rgb(0, 0, 0);
    --grey: rgb(126, 126, 126);
    --white: rgb(255, 255, 255);
    --primary-line-color: rgb(209, 209, 209);
    --maxWidth: 1600px;
  }
}

@layer base {
  /* Global Styling for all elements */
  * {
    @apply border-border;
  }

  /* Global Styling for the body */
  body {
    @apply bg-background text-foreground;
  }

  /* Global Styling for paragraphs */
  p {
    line-height: 1.75;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

/* Vertical Spacing */
/* Vertical Spacer Larger */
.vsl {
  height: 2rem;
}