.contentContainer {
 width: 100%;
}

.contentHeader {
  border-bottom: 1px solid var(--primary-line-color);
  color: var(--primary-accent);
  font-weight: 600;
  padding: 2rem 0;
  text-transform: uppercase;
  width: 100%;
}

.columnContainer {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  row-gap: 3rem;
  column-gap: 1.5rem;
  padding-top: 2rem;
  width: 100%;
}