@import "../../sizes";

.formBlock {
  margin: 2.5rem auto;
  //max-width: $lg;
}

.formIntroContent {
  h1 {
    font-weight: 600;
  }
}

.formContainer {
  margin: 3rem auto;
}

.form {
  //
}

.formFields {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.field {
  //

  @media (max-width: $lg) {
    width: 100% !important;
  }
}

.error {
  border-color: red !important;
}

.uploadInputContainer {
  background-color: var(--light-background);
  border: 1px dashed var(--primary-line-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.fauxSelectorButton {
  background-color: var(--primary-accent);
  border: 1px solid var(--primary-accent);
  border-radius: 2rem;
  color: var(--white);
  margin: 1rem auto;
  padding: .75rem 1.5rem;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-accent-hover);
    border-color: var(--primary-accent-hover);
  }
}

.fauxSelectorText {
  color: var(--grey);
}